<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hibuyphotocard">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiBuyPhotocard">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".MyPageMain"/>
        <activity android:name=".PushSettingActivity"/>

        <activity android:name=".SettingResultActivity"/>
        <activity android:name=".SearchResultActivity"/>

<!--        <activity android:name=".MyPageMain"/>-->
<!--        <activity android:name=".PushSettingActivity"/>-->

<!--        <activity android:name=".FragmentActivity"/>-->
        <activity android:name=".MessageActivity"/>
        <activity android:name=".FragmentActivity2"/>

    </application>

</manifest>